html, 
body {
height: 100%;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
}

.scorecontainer {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    padding-bottom: 20px;
}
.container {
    display: flex;
    height: 20%;
    justify-content: center;
    margin-top: 70px;
    flex: 1;
}

.button {
    flex: 1, 1, 1;
    height: 200px;
    align-self: flex-start;
    margin: 25px;
}


.container > .button {
    width: 160px;
    height: 160px;
    transition: all .07s ease;
    
}

#resultstext {
    font-size: 100px;
    flex: 1;
    padding-top: 50px;
    align-self: center;
    transition: opacity .5s;
    text-shadow: 0 0 .4rem rgba(0, 0, 0, 0.459);
    position: relative;
    top: -250px;
}

#rock {
    background-image: url('./images/rock.png');
    background-size: cover;
    width: 160px;
    height: 160px;
    border: 2px solid;
    resize: both;
    overflow: scroll;

}

#paper {
    background-image: url('./images/paper.svg');
    background-size: cover;
    width: 160px;
    height: 160px;
    border: 2px solid;
    resize: both;
    overflow: scroll;

}
#scissors {
    background-image: url('./images/scissors.svg');
    background-size: cover;
    width: 160px;
    height: 160px;
    border: 2px solid;
    resize: both;
    overflow: scroll;

}

.computerchoice {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 20px;
    flex: 1;
}

#crock {
    background-image: url('./images/rock.png');
    background-size: cover;
    width: 160px;
    height: 160px;
    border: 2px solid;
    resize: both;
    overflow: scroll;
    transition: opacity .2s;
    opacity: 0;

}

#cpaper {
    background-image: url('./images/paper.svg');
    background-size: cover;
    width: 160px;
    height: 160px;
    border: 2px solid;
    resize: both;
    overflow: scroll;
    transition: opacity .2s;
    opacity: 0;
}
#cscissors {
    background-image: url('./images/scissors.svg');
    background-size: cover;
    width: 160px;
    height: 160px;
    border: 2px solid;
    resize: both;
    overflow: scroll;
    transition: opacity .2s;
    opacity: 0;
}

.pressed {
    transform: scale(1.1);
    border-color: #f4f4f4;
    box-shadow: 0 0 1rem #7e7e7e;
}

.footer {
    align-self: flex-end;
    padding: 10px; 
    background-color: #f4f4f4;
    align-self: stretch;
    border: 5px solid #bbbbbb09;
    text-align: center;
}

.header {
    font-weight: 500;
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #f4f4f4;
    border: 5px solid #bbbbbb09;
    text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.267);

}

/* Icon by icon king1 on freeicons.io */




